@import url('reset.css');

header {
  padding: 3rem;
  text-align: center;
  background-color: cyan;
  width: 100%;
}

main {
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
  text-align: center;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: cyan;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.navup {
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.ull {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.lil {
  margin: 0 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.upcont {
  text-decoration: none;
  color: black;
}
